<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>insta485</title>
</head>
<body>
  <header>
    <a href="/">
      <img src="/images/logo.png" alt="black and white instagram logo">
    </a>
    <a href="/explore/">explore</a>
    <a href="/users/{{logname}}/">{{logname}}</a>
  </header>
  <div>
    <h1>{{username}}</h1> 
    {% if logname_follows_username %}
      <p>following</p>
    {% elif not logname_follows_username and logname != username %}
      <p>not following</p>
    {% endif %}
    
    {% if total_posts == 1 %}
      <p>1 post</p>
    {% else %}
      <p>{{total_posts}} posts</p>
    {% endif %}
    
    <a href="/users/{{username}}/followers/">
        {% if followers == 1 %}
          <p>1 follower</p>
        {% else %}
          <p>{{followers}} followers</p>
        {% endif %}
    </a>
    <a href="/users/{{username}}/following/">{{following}} following</a>
    <p>{{fullname}}</p>
  </div>
  <div>
    {% for post in posts %}
      <a href="/posts/{{post.postid}}/">
        <img class="post-img" src="{{post.img_url}}" alt="user's post"/>
      </a>
    {% endfor %}
  </div>
</body>
</html>